	<tr>
		<td>{{ car.get_name(current_user.language.code, False) }}</td>
		<td>{{ car.year }}</td>
		<td>{{ car.timestamp }}</td>
		{% if current_user.is_administrator() %}
		<td>
			<!-- Split button -->
			<div class="btn-group">
			  <button type="button" class="btn btn-default">
				<a href="{{ url_for('admin.edit_car', id=car.id) }}">Edit</a>
			  </button>
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <span class="caret"></span>
			    <span class="sr-only">Toggle Dropdown</span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><a href="{{ url_for('admin.delete_car', id=car.id) }}" style="color:red;">Delete</a></li>
			  </ul>
			</div>
		</td>
		{% endif %}
	</tr>
